@font-face {
  font-family: 'Illuminate';
  src: url('/fonts/illuminate_with_accents-webfont.eot');
  src: url('/fonts/illuminate_with_accents-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/illuminate_with_accents-webfont.woff') format('woff'), url('/fonts/illuminate_with_accents-webfont.ttf') format('truetype'), url('/fonts/illuminate_with_accents-webfont.svg#illuminateregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
header .headline {
  font-family: futura-pt, Georgia, serif;
  font-style: italic;
  color: #00385e;
  font-size: 4em;
  line-height: 75px;
  font-weight: bold;
}
header .subheadline {
  font-family: futura-pt, Arial, sans-serif;
  color: #b4282e;
  line-height: 40px;
}
q:not(small) {
  font-family: futura-pt, Georgia, serif;
  font-weight: bold;
  color: #00385e;
}
q {
  font-size: 1.3em;
  line-height: 35px;
}
q small {
  color: #999999;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h2 {
  color: #b4282e;
  font-family: futura-pt, Georgia, serif;
}
