@font-face {
  font-family: 'Illuminate';
  src: url('/fonts/illuminate_with_accents-webfont.eot');
  src: url('/fonts/illuminate_with_accents-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/illuminate_with_accents-webfont.woff') format('woff'), url('/fonts/illuminate_with_accents-webfont.ttf') format('truetype'), url('/fonts/illuminate_with_accents-webfont.svg#illuminateregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: url("/images/thinking-for-a-change.jpg") no-repeat center center fixed;
  background-size: cover;
}
.story-container {
  background-color: white;
}
.story-image {
  display: none;
}
header {
  text-align: center;
}
header .headline {
  font-family: 'Illuminate', Georgia, serif;
  color: #289728;
  font-size: 4em;
  line-height: 95px;
}
header .subheadline {
  font-family: proxima-nova, Arial, sans-serif;
  color: #0092dd;
}
q:not(small) {
  font-family: 'Illuminate', Georgia, serif;
}
.blue {
  color: #0092dd;
}
.yellow {
  color: #ffc726;
}
.green {
  color: #289728;
}
q {
  font-size: 1.3em;
  line-height: 35px;
}
q small {
  color: #999999;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
