// Variables
@blue:		rgb(118,178,204);
@navy: 	rgb(0,56,94);
@red: 	rgb(180,40,46);

@sans-serif-family: 	'Helvetica Neue',Helvetica,Arial,sans-serif;

// Fonts
@font-face {
    font-family: 'Illuminate';
    src: url('/fonts/illuminate_with_accents-webfont.eot');
    src: url('/fonts/illuminate_with_accents-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/illuminate_with_accents-webfont.woff') format('woff'),
         url('/fonts/illuminate_with_accents-webfont.ttf') format('truetype'),
         url('/fonts/illuminate_with_accents-webfont.svg#illuminateregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

header {
	.headline {
		font-family: futura-pt,Georgia,serif;
		font-style: italic;
		color: @navy;
		font-size: 4em;
		line-height: 75px;
		font-weight: bold;
	}
	.subheadline {
		font-family: futura-pt,Arial,sans-serif;
		color: @red;
		line-height: 40px;
	}
}

q:not(small) {
	font-family: futura-pt,Georgia,serif;
	font-weight: bold;
	color: @navy;
}

q {
	font-size: 1.3em;
	line-height: 35px;
	
	small {
		color: #999999;
		font-family: @sans-serif-family;
		font-weight: normal;
	}
}

h2 {
	color: @red;
	font-family: futura-pt,Georgia,serif;
}