.story-container {
    border: solid 1px rgb(233, 233, 233);
}

.story-content p {
	font-family: "chaparral-pro",Georgia,serif;
	font-size: 19px;
}

.row {
    margin: 0;
}

.subheadline {
    color: @grayLight;
}

header, figcaption {
    margin-left: 10px;
}

q {
    width: 250px;
    font-size: 20px;
    margin-bottom: 10px;

    small {
        display: block;
        line-height: 28px;
        color: rgb(153, 153, 153);

        &:before {
            content: '\2014 \00A0';
        }
    }

    &.left {
        float: left;
        margin-left: 0;
        margin-right: 50px;
    }

    &.right {
        float: right;
        margin-right: 0;
        margin-left: 50px;
    }
}

figure {
    margin: 30px 0;

    figcaption {
        font-style: italic;
        font-size: 14px;
    }
}

.story-content {
    p {
        max-width: 660px;
        margin-left: 60px;
    }
	h2 {
		margin-left: 60px;
	}
}

.story-image {
    margin-bottom: 30px;
}

header {
    .headline, .subheadline, .byline {
        font-family: 'Noto Serif', serif;
    }

    .headline {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .subheadline {
        margin-top: 0;
        margin-bottom: 0;
        p {
            margin-bottom: 0;
        }
    }

}

.navbar-brand {
    max-width: 250px;
    color: white;
}

.navbar {
    border-radius: 0;
}

.article-navigation {
    .col-span-6 {
        padding: 0;
    }
    .previous {
        border-right: solid 1px rgb(233, 233, 233);
    }
    ul {
        padding: 0;
        margin: 0;
        position: relative;
        border-top: solid 1px rgb(238, 238, 238);
        overflow: hidden;
        list-style: none;

        .next a {}

        a {
            display: block;
            text-align: center;
            padding: 16px 70px 24px;
            text-decoration: none;
            position: relative;
            border-bottom: solid 1px rgb(238, 238, 238);
            min-height: 56px;

            &:hover {
                background: rgb(243, 243, 243);
            }

            strong {
                display: block;
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}

.video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-wrap iframe,
.video-wrap object,
.video-wrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}