//
// Grid system
// --------------------------------------------------


// Set the container width, and override it for fixed navbars in media queries
.container {
  .container-fixed();
}

// Mobile-first defaults
.row {
  .make-row();
}
[class*="col-span-"] {
  position: relative;
  min-height: 1px;
  padding-left:  (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
}

// Responsive: Tablets and up
@media screen and (min-width: 768px) {
  .container {
    max-width: 728px;
  }
  // Generate the grid columns and offsets
  [class*="col-span-"] { float: left; }
  .generate-grid-columns(@grid-columns);
}

// Responsive: Desktops and up
@media screen and (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

// Responsive: Large desktops and up
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1020px;
  }
}

// Reset utility classes due to specificity
[class*="col-span-"].pull-right {
  float: right;
}
