<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen, projection" />
   {% if page.custom_css %}
     <link rel="stylesheet" href="/css/custom{{ page.url }}.css" type="text/css" media="screen, projection" />
   {% endif %}
   <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
   <script type="text/javascript" src="//use.typekit.net/pmf8yxe.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
    <div class="navbar">
    <div class="container">
      <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="navbar-brand" href="{{ site.base_url }}">225 Magazine:Features</a>
    </div>
  </div>
  <div class="container story-container">

    {{ content }}

<div class="article-navigation row">
  <ul>
    <li class="col-span-6 previous">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">
        <strong>Previous Article</strong>
        <span>{{page.previous.title}}</span>
      </a>
    {% endif %}
    </li>

    <li class="col-span-6 next">
    {% if page.next.url %}
      <a href="{{page.next.url}}">
        <strong>Next Article</strong>
        <span>{{page.next.title}}</span>
      </a>
    {% endif %}

    </li>
  </ul>
</div>

  </div>

</body>
</html>
