---
layout: default
---
<div id="post">
    <header>
        <h1 class="headline">{{ page.title }}</h1>
        <h2 class="subheadline"><p>{{ page.subtitle }}</p></h2>
        <p class="byline">By {{ page.author }}</p>
    </header>
    <div class="story-image">
        {% if page.image %}
            <img alt="iForgot bw" src="{{ site.base_url }}{{ page.image }}">
        {% else %}
            {% if page.youtube %}
                <div class="video-wrap"><iframe width="1018" height="573" src="http://www.youtube.com/embed/{{ page.youtube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe></div>
            {% endif %}
        {% endif %}
    </div>
    <div class="story-content">
        {{ content }}
    </div>
</div>
